::-webkit-scrollbar {
  background: transparent;
  width: 0.45rem;
}

::-webkit-scrollbar-thumb {
  @apply bg-muted-foreground hover:bg-primary transition-colors;
  width: 100%;
  cursor: pointer;
  border-radius: 9999999px;
}

.no-checkmark[role="option"] {
  padding: 6px 8px 6px 8px;
  cursor: pointer;
}

.no-checkmark[role="option"] > span > span > svg {
  display: none;
}
